# Data Science Tools and Ecosystem

### Intruduction

In this notebook, Data Science Tools and Ecosystem are summarized.

## Important Topics in this notebook
### Objectives:
* Data Science Languages;
* Data Science Llibraries;
* Data Science Tools;
* Arithmetic Expressions in Python;

# Data Science Languages 

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

# Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* MatplotLib
* NumPy
* TensorFlow
* Scikit-learn

# Single table of Data Science tools

 Data Science Tools: Dev Enviroment|
| ----------------------------------|
| Jupyter Notebook |
| VS Code |
| Anaconda |


### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

### Converting Minutes to Hours

In [8]:
#This will convert 200 minutes to hours by diving by 60.

200 / 60

3.3333333333333335

## Author
Thaise Oliveira de Menezes